body{
    margin: 0;
    padding: 0;
    background-image: url(contact.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}
.wallpaper{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.801);
    z-index: 1;
}
#heading{
    position: absolute;
    left: 100px;
    top: 100px;
}
#heading1{
    color: white;
    font-family: 'Spartan', sans-serif;
    font-size: 7em;
    margin: 0;
    font-weight: 900;
    opacity: 85%;
    animation: headingAnim 2s 0s both;
    transform-origin: right;
}
#heading2{
    color: white;
    font-family: 'Spartan', sans-serif;
    font-size: 7em;
    margin: 0;
    position: relative;
    left: 350px;
    top: -70px;
    opacity: 65%;
    animation: headingAnim 2s 0.3s both;
    transform-origin: right;
}
.login-box{
    position: absolute;
    top: 45%;
    left: 20%;
    animation: loginBoxAnim 2s 0.5s both;
}
.inp{
    border: none;
    margin: 4px;
    height: 20px;
    width: 300px;
    padding: 10px;
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.329);
    color: white;
    border-bottom: rgba(0, 0, 0, 0.329) solid  ;

}

.inp:focus{
    transition: 1s;
    outline: none;
    border-bottom: rgb(0, 204, 255) solid  ;
}
#msg{
    height: 50px;
    margin: 3px;
}
.btn{
    height: 35px;
    width: 100px;
    border-style: solid;
    border-radius: 20px;
    border-color: white;
    background-color: rgba(0, 0, 0, 0.329);
    color: rgba(255, 255, 255, 0.849);
    margin: 3px;
    font-family: 'Spartan', sans-serif;
}
.btn:focus{
    outline: none;
    animation: color 0.5s forwards;
    box-shadow: blue -3px -3px 20px inset;
}
@keyframes color {
    to{
        background-color:rgb(0, 204, 255) ;
        color: black;
        border: none;
    }
}
@keyframes headingAnim{
    from{
        transform: scale(0.5);
        opacity: 0%;
        transform: translate(50px, 40px);
    }
}
@keyframes loginBoxAnim{
    from{
        opacity: 0%;
        transform: scale(0.5);
        transform-origin: center;
    }
}
